<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wyj.treasure">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.NetworkChangeReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.NetworkChangeActivity" />
        <activity android:name=".activity.DongTaiActivity" />
        <activity android:name=".activity.MyReceiverActivity" />

        <receiver
            android:name=".receiver.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.wyj.treasure.MYRECEIVER" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.MyOrderlyBroadcastActivity" />

        <receiver
            android:name=".receiver.MyOrderedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="100">
                <action android:name="com.wyj.treasure.ORDEREDRECEIVER" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.MyAppWidgetProvider">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_info" />

            <intent-filter>
                <action android:name="com.wyj.treasure.action.CLICK" />
                <action android:name="android.appwidget.action.AppWIDGET_UPDATE" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.MyLocalBroadcastActivity" />

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activity.ServiceActivity" />
        <activity android:name=".notification.SimpleNotificationActivity" />
        <activity android:name=".notification.NotificationEffectActivity" />
        <activity android:name=".activity.NotificationStyleActivity" />
        <activity android:name=".activity.TinkerActivity" />
        <activity android:name=".activity.transition.TransitionsActivity" />
        <activity android:name=".activity.transition.TransitionsSlideActivity" />
        <activity android:name=".activity.transition.TransitionsRedActivity" />
        <activity android:name=".activity.transition.TransitionsListActivity" />
        <activity android:name=".activity.transition.TransitionsDetailActivity" />
        <activity android:name=".activity.GridLayoutManagerActivity" />
        <activity android:name=".activity.ReflectActivity" />
        <activity android:name=".activity.RemoteViewWidgetActivity" />
        <activity android:name=".activity.SwipeDeleteActivity"></activity>
    </application>

</manifest>