<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wyj.treasure">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.BLUETOOTH" /> <!-- 使用蓝牙所需要的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- 使用扫描和设置蓝牙的权限（申明这一个权限必须申明上面一个权限） -->
    <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <!-- 在Android5.0之前，是默认申请GPS硬件功能的。而在Android 5.0 之后，需要在manifest 中申明GPS硬件模块功能的使用。 -->
    <uses-feature android:name="android.hardware.location.gps" />
    <!-- 在 Android 6.0 及以上，还需要打开位置权限。如果应用没有位置权限，蓝牙扫描功能不能使用（其它蓝牙操作例如连接蓝牙设备和写入数据不受影响）。 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <permission
        android:name="com.wyj.process.permission.ACCESS_BOOK_SERVICE"
        android:protectionLevel="normal" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".MainAliasActivity"
            android:enabled="false"
            android:icon="@mipmap/git"
            android:label="treasure"
            android:targetActivity=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity android:name=".activity.WelcomeActivity" />
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <receiver
            android:name=".receiver.NetworkChangeReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.NetworkChangeActivity" />
        <activity android:name=".activity.DongTaiActivity" />
        <activity android:name=".activity.MyReceiverActivity" />

        <receiver
            android:name=".receiver.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.wyj.treasure.MYRECEIVER" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.MyOrderlyBroadcastActivity" />

        <receiver
            android:name=".receiver.MyOrderedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="100">
                <action android:name="com.wyj.treasure.ORDEREDRECEIVER" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.MyAppWidgetProvider">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_info" />

            <intent-filter>
                <action android:name="com.wyj.treasure.action.CLICK" />
                <action android:name="android.appwidget.action.AppWIDGET_UPDATE" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.MyLocalBroadcastActivity" />
        <activity android:name=".activity.ServiceActivity" />
        <activity android:name=".notification.SimpleNotificationActivity" />
        <activity android:name=".notification.NotificationEffectActivity" />
        <activity android:name=".activity.NotificationStyleActivity" />
        <activity android:name=".activity.TinkerActivity" />
        <activity android:name=".activity.transition.TransitionsActivity" />
        <activity android:name=".activity.transition.TransitionsSlideActivity" />
        <activity android:name=".activity.transition.TransitionsRedActivity" />
        <activity android:name=".activity.transition.TransitionsListActivity" />
        <activity android:name=".activity.transition.TransitionsDetailActivity" />
        <activity android:name=".activity.GridLayoutManagerActivity" />
        <activity android:name=".activity.ReflectActivity" />
        <activity android:name=".activity.RemoteViewWidgetActivity" />
        <activity android:name=".activity.SwipeDeleteActivity" />
        <activity android:name=".activity.PullUpToLoadMoreActivity" />
        <activity android:name=".activity.GridViewChoiceActivity" />
        <activity android:name=".activity.SuspensionBarActivity" />
        <activity android:name=".activity.MultiSuspensionBarActivity" />
        <activity android:name=".activity.transition.TagRecycleViewActivity" />
        <activity android:name=".activity.RegularExpressionActivity" />
        <activity android:name=".activity.MultipleChoiceActivity" />
        <activity android:name=".activity.MyWebViewActivity" />
        <activity android:name=".activity.StaggeredGridActivity" />
        <activity android:name=".activity.StaggeredGridOtherActivity" />
        <activity android:name=".mvp.UserLoginActivity" />
        <activity android:name=".rxjava.RxJavaActivity" />
        <activity android:name=".activity.IncludeMergeViewStubActivity" />
        <activity android:name=".mvp.GirlListActivity" />
        <activity android:name=".activity.LoginActivity" />

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.LocalService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.RemoteService"
            android:enabled="true"
            android:exported="true"
            android:process=".remoteservice" />
        <service
            android:name=".service.JobWakeUpService"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name=".activity.Main2Activity" />
        <activity android:name=".activity.transition.Main3Activity" />
        <activity android:name=".activity.transition.Main4Activity" />
        <activity android:name=".activity.itemtouch.RecyclerViewItemTouchActivity" />
        <activity android:name=".mdcustom.behaviorcustom.BehaviorActivity" />
        <activity android:name=".mdcustom.splash.SplashActivity" />
        <activity android:name=".viewcustom.bannerviewpager.BannerViewPagerActivity" />
        <activity android:name="com.wyj.handler.CustomHandlerActivity" />
        <activity android:name=".viewcustom.colortracktextview.ColorTrackActivity" />
        <activity android:name=".customcontrol.AnimationActivity" />
        <activity android:name=".customcontrol.CustomControlActivity" />
        <activity android:name=".customcontrol.Interpolator" />
        <activity android:name=".customcontrol.ValueAnimatorActivity" />
        <activity android:name=".customcontrol.ObjectanimatorActivity" />
        <activity android:name=".customcontrol.AnimatorSetActivity" />
        <activity android:name=".customcontrol.DrawingArticlesOneActivity" />
        <activity android:name=".customcontrol.DrawingArticlesTwoActivity" />
        <activity android:name=".customcontrol.DrawingArticlesTextActivity" />
        <activity android:name=".customcontrol.DrawingArticlesRangeActivity" />
        <activity android:name=".customcontrol.DrawingArticlesDrawTextActivity" />
        <activity android:name=".customcontrol.BezierActivity" />
        <activity android:name=".NavigationBarActivity" />
        <activity android:name=".activity.MyLinearlayoutActivity" />
        <activity android:name=".customcontrol.PropertyActivity" />
        <activity android:name=".popup.PopupWindowActivity" />
        <activity android:name="com.wyj.baseadapter.RecyclerViewActivity" />
        <activity android:name=".activity.ChangeLaucherActivity" />
        <activity android:name="com.wyj.process.ProcessActivity" />

        <service
            android:name="com.wyj.process.ProcessService"
            android:enabled="true"
            android:exported="true"
            android:process=".process">
            <intent-filter>
                <action android:name="com.wyj.treasure.IMyAidlInterface" />
            </intent-filter>
        </service>
        <service
            android:name="com.wyj.process.BinderSer"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.wyj.process.IBinderSer"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.wyj.process.MessengerSer"
            android:enabled="true"
            android:exported="true"
            android:process=":MessengerSer" />

        <activity android:name=".activity.ExternalStorageActivity" />
        <activity android:name="com.wyj.touch.TouchDemoActivity" />
        <activity android:name=".mvp.MVPActivity" />
        <activity android:name="com.wyj.welcome.WelcomeActivity" />
        <activity android:name="com.wyj.retrofit.RetroFitActivity" />
        <activity android:name="com.wyj.handler.HandlerThreadActivity" />
        <activity android:name="com.wyj.handler.NewHandlerThreadActivity" />
        <activity android:name="com.wyj.handler.AsyncTaskActivity" />
        <activity android:name="com.wyj.handler.IntentServiceActivity" />

        <service
            android:name="com.wyj.handler.MyIntentService"
            android:exported="false" />

        <activity android:name="com.wyj.bluetooth.BluetoothActivity" />
    </application>

</manifest>